### efs types
type app_efs_file, file_type;
type bin_nv_data_efs_file, file_type;

# widewine, drm
type drm_efs_file, file_type;
type imei_efs_file, file_type;
type prov_efs_file, file_type;
type wifi_efs_file, fs_type;

### Fingerprint type
type vcs_data_file, file_type, data_file_type;

### sysfs types
type sysfs_mipi_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_multipdp_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_usb_power_writable, fs_type, sysfs_type, mlstrustedobject;
type sysfs_input_file, fs_type, sysfs_type, mlstrustedobject;
type sysfs_scenario_file, fs_type, sysfs_type, mlstrustedobject;

allow sysfs_type tmpfs:filesystem associate;