# UMS: rw access to files in /dev/block/vold
allow kernel block_device:blk_file rw_file_perms;

# /dev/mbin0
allow kernel emmcblk_device:blk_file r_file_perms;