allow toolbox kernel:system module_request;
allow toolbox camera_data_file:dir { create write add_name };
allow toolbox camera_data_file:file { open write create setattr };
allow toolbox self:capability { dac_override fowner chown fsetid };
