allow ueventd kernel:system module_request;

allow ueventd vcs_device:chr_file create_file_perms;

# /dev/block/mmcblk0p[0-9]
allow init emmcblk_device:blk_file rw_file_perms;

# /sys/devices/virtual/misc/multipdp/uevent
allow ueventd sysfs_multipdp_writable:file rw_file_perms;