#
# Changes that Samsung made to /init.rc, keeping them separate to keep
# the init.universal5420.rc file closer to stock.
#

on post-fs-data
# SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    mkdir /data/anr 0775 system system
    chown system system /data/anr
    chmod 0775 /data/log
    chmod 0775 /data/anr
    restorecon /data/log
    restorecon /data/anr

#drm permission
    mkdir /efs/drm 0774 drm system

# [ SEC_MM_DRM
    # sdrm
    mkdir /efs/drm 0774 drm system
    mkdir /efs/drm/sdrm 0774 drm system
    mkdir /efs/drm/sdrm/data_agent 0774 drm system
    restorecon /efs/drm
    restorecon /efs/drm/sdrm
    restorecon /efs/drm/data_agent

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm
    restorecon -R /efs
#]

    mkdir /mnt/shell 0750 shell shell
    mkdir /mnt/media_rw 0750 media_rw media_rw

#service_redefine drm /system/bin/drmserver.samsung
#    class main
#    user drm
#    group system drm inet drmrpc sdcard_r sdcard_rw media_rw radio shell

#service_redefine media /system/bin/mediaserver
#    class main
#    user media
#    group system audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm sdcard_rw sdcard_r media_rw shell lgt_gid qcom_diag
#    ioprio rt 4

on boot

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/cpu_util
    chmod 0440 /sys/devices/system/cpu/cpu0/cpufreq/interactive/cpu_util
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/single_exit_time

    # Assume HMP uses shared cpufreq policy for all LITTLE CPUs
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/cpu_util
    chmod 0440 /sys/devices/system/cpu/cpu4/cpufreq/interactive/cpu_util
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/single_exit_time

    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpufreq/interactive/cpu_util
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/cpu_util

    # Assume HMP uses shared cpufreq policy for big CPUs
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

    # MSP Core Status
    chown system system /sys/devices/system/cpu/cpu1/online
    chown system system /sys/devices/system/cpu/cpu2/online
    chown system system /sys/devices/system/cpu/cpu3/online
    chown system system /sys/devices/system/cpu/cpu4/online
    chown system system /sys/devices/system/cpu/cpu5/online
    chown system system /sys/devices/system/cpu/cpu6/online
    chown system system /sys/devices/system/cpu/cpu7/online

    # Change permission for dvfshelper
    chown radio system /sys/power/cpufreq_table
    chmod 0664 /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0664 /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_max_limit
    chmod 0664 /sys/power/cpufreq_max_limit

    # permission for CHARGING
    chown system radio /sys/class/power_supply/battery/batt_reset_soc
    chown system radio /sys/class/power_supply/battery/batt_slate_mode
    chown system radio /sys/class/power_supply/battery/factory_mode
    chown system radio /sys/class/power_supply/battery/siop_level
    chown system radio /sys/class/power_supply/battery/wc_enable
    chown system radio /sys/class/power_supply/battery/update
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
    chown system radio /sys/class/power_supply/battery/talk_wcdma
    chown system radio /sys/class/power_supply/battery/talk_gsm
    chown system radio /sys/class/power_supply/battery/call
    chown system radio /sys/class/power_supply/battery/data_call
    chown system radio /sys/class/power_supply/battery/gps
    chown system radio /sys/class/power_supply/battery/wifi
    chown system radio /sys/class/power_supply/battery/lte
    chown system radio /sys/class/power_supply/battery/lcd
    chown system radio /sys/class/power_supply/ps/status
    chmod 0664 /sys/class/power_supply/ps/status
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_high_current_usb
    chmod 0664 /sys/class/power_supply/battery/batt_high_current_usb

on charger
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
