on init
    mkdir /efs 0771 radio system
    symlink /dev/block/mmcblk0p13 /dev/mbin0
    restorecon /dev/mbin0
    symlink /sys/devices/platform/s5p-ehci/ehci_power /dev/ehci_power

on fs
    chown radio system /efs
    chmod 0771 /efs

    chown radio radio /sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio radio /sys/devices/platform/s5p-ehci/ehci_cpu_core

# Parse hardware revision (needs to happen before cbd starts)
service modemloader /system/bin/modemloader
    class core
    oneshot

service cpboot-daemon /system/bin/cbd -d -txmm7160 -bh -mh -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell

service_redefine ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw diag log
    onrestart restart cpboot-daemon

# Modem Logging daemon
#service ML-daemon /system/bin/mlexe
#    class main
#    user root
#    group system radio inet net_raw
